/SampleApp-Test-CI-CD/SampleApp-Test-CI-CD/obj
/SampleApp-Test-CI-CD/SampleApp-Test-CI-CD/bin
/SampleApp-Test-CI-CD/SampleApp-Test-CI-CD.UnitTests/obj
/SampleApp-Test-CI-CD/SampleApp-Test-CI-CD.UnitTests/bin
